//variables
$overlay-color: rgba(0, 0, 0, 0.3);
$button-size: 6rem;

.carousel {

  width: 100vw;
  height: 100vh;
  position: relative;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 400ms opacity ease-in-out;

    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .slide[data-active]{
    opacity: 1;
  }

  .carousel-button {

    position: absolute;
    z-index: 100;
    transform: translateY(-50%);
    background: none;
    border: solid 0.5px transparent;
    font-size: $button-size;
    top: 50%;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border-radius: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    line-height: 0;
    background-color: rgba(0, 0, 0, 0.4);

    :hover{
      color: white;
      border-radius: 1rem;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &.prev {
      left: 1rem;
    }

    &.next {
      right: 1rem;
    }
  }

  .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.15);
    top: 0;
    height: 100%;
    width: 100%;
  }
}